In [1]:
import plotly.express as px
import panel as pn
import pandas as pd
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv
import csv
import unicodecsv

In [2]:
# Bring in the Starbucks data
starbucks_df = pd.read_csv(Path('Data_Files/starbucks_locations.csv.txt'))
starbucks_df.head()

,Id,StarbucksId,Name,BrandName,StoreNumber,PhoneNumber,OwnershipType,Street1,Street2,Street3,...,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude,TimezoneOffset,TimezoneId,TimezoneOlsonId,FirstSeen,LastSeen
0,1f2d204f-e773-4361-9158-0008307dbd5e,10357,Target Virginia T-847,Starbucks,76666-97597,218-741-6603,LS,1001 13th St S,NaN,NaN,...,MN,US,557923254,-92.55,47.51,-360,Central Standard Time,GMT-06:00 America/Chicago,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
1,49455e22-49e9-461f-912c-00092386eaee,6557,PDX A 2,Starbucks,75916-104381,503-284-4008,LS,"7000 NE Airport Way, MB#3",NaN,NaN,...,OR,US,972181031,-122.59,45.59,-480,Pacific Standard Time,GMT-08:00 America/Los_Angeles,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM
2,1316ebf8-ee4a-479d-a11d-000964af367b,1010600,235 Bourke Street,Starbucks,25294-240419,NaN,LS,235-251 Bourke St,"Shops 5,6 & 10",NaN,...,VIC,AU,3000,144.97,-37.81,660,AUS Eastern Standard Time,GMT+10:00 Australia/Melbourne,10/8/2014 12:00:00 AM,2/3/2017 12:00:00 AM
3,1b8b9007-4587-4942-bf29-000a0af78161,1014921,Oasis Al-Kharj,Starbucks,27350-247327,NaN,LS,King Abdullah Rd,Al Khuzama,NaN,...,01,SA,NaN,47.27,24.13,180,Arab Standard Time,GMT+03:00 Asia/Riyadh,6/21/2016 12:00:00 AM,2/3/2017 12:00:00 AM
4,072752df-b30b-4f3f-a9b8-000ae32f8666,14667,Target Trumbull T-1956,Starbucks,76306-93245,203-455-0102,LS,120 Hawley Ln,NaN,NaN,...,CT,US,066115347,-73.15,41.23,-300,Eastern Standard Time,GMT-05:00 America/New_York,12/8/2013 5:41:59 PM,2/3/2017 12:00:00 AM

In [3]:
# Drop unnecessary columns

drop_df = starbucks_df.drop(['Id', 'StarbucksId','Name','BrandName','StoreNumber','PhoneNumber','OwnershipType','Street1','Street2','Street3','TimezoneOffset','TimezoneId','TimezoneOlsonId','FirstSeen','LastSeen'], axis = 1)

drop_df

,City,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude
0,Virginia,MN,US,557923254,-92.55,47.51
1,Portland,OR,US,972181031,-122.59,45.59
2,Melbourne,VIC,AU,3000,144.97,-37.81
3,RIYADH,01,SA,NaN,47.27,24.13
4,Trumbull,CT,US,066115347,-73.15,41.23
...,...,...,...,...,...,...
25595,上海市,31,CN,200001,121.48,31.23
25596,New Taipei City,TPQ,TW,231,121.54,24.98
25597,San Ramon,CA,US,94583,-121.98,37.77
25598,Richmond Hill,ON,CA,L4C 5G5,-79.43,43.85
25599,Torrance,CA,US,905056100,-118.33,33.79

In [4]:
# Filter all Non-US values/locations

newdf = drop_df.loc[drop_df['CountryCode'] == 'US']
newdf

,City,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude
0,Virginia,MN,US,557923254,-92.55,47.51
1,Portland,OR,US,972181031,-122.59,45.59
4,Trumbull,CT,US,066115347,-73.15,41.23
5,Oceanside,CA,US,920564672,-117.30,33.18
6,Lone Tree,CO,US,80124,-104.88,39.54
...,...,...,...,...,...,...
25586,Tacoma,WA,US,984097242,-122.47,47.22
25588,Virginia Beach,VA,US,234561410,-76.12,36.79
25593,Wright-Patterson AFB,OH,US,45433541,-84.03,39.81
25597,San Ramon,CA,US,94583,-121.98,37.77
25599,Torrance,CA,US,905056100,-118.33,33.79

In [5]:
# Sort Dataframe by State
newdf = newdf.sort_values(by = 'CountrySubdivisionCode')

In [6]:
# Sort Dataframe by State and City

newdf = newdf.sort_values(by = ['CountrySubdivisionCode', 'City'])

# Add Column to the Dataframe to capture how many stores are in each city
newdf['Count'] = ''
newdf.head(50)

,City,CountrySubdivisionCode,CountryCode,PostalCode,Longitude,Latitude,Count
7047,Anchorage,AK,US,995152050,-149.86,61.14,
23160,Anchorage,AK,US,99501,-149.89,61.22,
20099,Anchorage,AK,US,995152673,-149.88,61.13,
19113,Anchorage,AK,US,995021401,-149.96,61.14,
8817,Anchorage,AK,US,995084218,-149.87,61.19,
22012,Anchorage,AK,US,99504,-149.74,61.23,
12992,Anchorage,AK,US,995037247,-149.88,61.18,
487,Anchorage,AK,US,995042300,-149.78,61.21,
21665,Anchorage,AK,US,995173340,-149.92,61.19,
1215,Anchorage,AK,US,995073444,-149.84,61.14,
14746,Anchorage,AK,US,995043554,-149.74,61.20,
16159,Anchorage,AK,US,995151453,-149.92,61.14,
6912,Anchorage,AK,US,99515,-149.89,61.13,
9984,Anchorage,AK,US,995081928,-149.82,61.22,
1747,Anchorage,AK,US,995153596,-149.85,61.11,
11018,Anchorage,AK,US,99502,-149.98,61.18,
17527,Anchorage,AK,US,99506,-149.75,61.23,
16645,Anchorage,AK,US,995071128,-149.84,61.18,
13938,Anchorage,AK,US,99504,-149.74,61.21,
16107,Anchorage,AK,US,995046105,-149.74,61.23,
15584,Anchorage,AK,US,995074456,-149.84,61.14,
20622,Anchorage,AK,US,99502,-149.95,61.15,
20856,Anchorage,AK,US,995021023,-149.98,61.17,
19650,Anchorage,AK,US,99501,-149.89,61.22,
17003,Eagle River,AK,US,995777823,-149.57,61.33,
15673,Eagle River,AK,US,995777722,-149.57,61.32,
21239,Eagle River,AK,US,995777565,-149.55,61.35,
18654,Fairbanks,AK,US,997094610,-147.82,64.84,
8537,Fairbanks,AK,US,997094779,-147.81,64.84,
21121,Fairbanks,AK,US,997013138,-147.69,64.85,
20944,Fairbanks,AK,US,99709,-147.87,64.82,
9570,Fairbanks,AK,US,997011706,-147.70,64.85,
1008,Fort Richardson,AK,US,99505,-149.68,61.26,
9181,Fort Wainwright,AK,US,99703,-147.65,64.83,
12309,Homer,AK,US,996037439,-151.54,59.64,
16969,Juneau,AK,US,99801,-134.55,58.36,
18174,Juneau,AK,US,998018035,-134.56,58.36,
7564,Ketchikan,AK,US,999015900,-131.67,55.35,
21746,Kodiak,AK,US,996156638,-152.37,57.81,
20594,North Pole,AK,US,997056081,-147.35,64.76,
20194,Palmer,AK,US,996456535,-149.13,61.60,
22201,Palmer,AK,US,996456387,-149.12,61.60,
7420,Seward,AK,US,99664,-149.43,60.13,
5873,Soldotna,AK,US,996697640,-151.05,60.49,
12023,Soldotna,AK,US,996698033,-151.07,60.48,
21163,Wasilla,AK,US,996548283,-149.41,61.58,
4272,Wasilla,AK,US,996548104,-149.41,61.58,
14123,Wasilla,AK,US,996548102,-149.44,61.58,
19643,Wasilla,AK,US,996547350,-149.41,61.58,
3403,Alabaster,AL,US,350074657,-86.81,33.23,

In [33]:
# Get "Average" Latitude for each City

lat_df = newdf.groupby(['CountrySubdivisionCode', 'City'])['Latitude'].mean().reset_index()
lat_df

     CountrySubdivisionCode             City   Latitude
0                        AK        Anchorage  61.178333
1                        AK      Eagle River  61.333333
2                        AK        Fairbanks  64.840000
3                        AK  Fort Richardson  61.260000
4                        AK  Fort Wainwright  64.830000
...                     ...              ...        ...
3756                     WY     Jackson Hole  43.480000
3757                     WY           Lander  42.840000
3758                     WY          Laramie  41.313333
3759                     WY     Rock Springs  41.580000
3760                     WY        Sheridian  44.770000

[3761 rows x 3 columns]

In [34]:
# Get "Average" Longitude for each city
lon_df = newdf.groupby(['CountrySubdivisionCode', 'City'])['Longitude'].mean().reset_index()
lon_df

     CountrySubdivisionCode             City   Longitude
0                        AK        Anchorage -149.856250
1                        AK      Eagle River -149.563333
2                        AK        Fairbanks -147.778000
3                        AK  Fort Richardson -149.680000
4                        AK  Fort Wainwright -147.650000
...                     ...              ...         ...
3756                     WY     Jackson Hole -110.750000
3757                     WY           Lander -108.750000
3758                     WY          Laramie -105.570000
3759                     WY     Rock Springs -109.250000
3760                     WY        Sheridian -106.940000

[3761 rows x 3 columns]

In [7]:
# Count number of Starbucks in each City
count_df = newdf.groupby(['CountrySubdivisionCode', 'City'])['Count'].count().reset_index()
count_df.head(50)

   CountrySubdivisionCode             City  Count
0                      AK        Anchorage     24
1                      AK      Eagle River      3
2                      AK        Fairbanks      5
3                      AK  Fort Richardson      1
4                      AK  Fort Wainwright      1
5                      AK            Homer      1
6                      AK           Juneau      2
7                      AK        Ketchikan      1
8                      AK           Kodiak      1
9                      AK       North Pole      1
10                     AK           Palmer      2
11                     AK           Seward      1
12                     AK         Soldotna      2
13                     AK          Wasilla      4
14                     AL        Alabaster      3
15                     AL           Athens      1
16                     AL           Auburn      3
17                     AL         Bessemer      1
18                     AL       Birmingham     16
19                     AL          Cullman      1
20                     AL           Daphne      1
21                     AL          Decatur      2
22                     AL           Dothan      1
23                     AL         Florence      2
24                     AL            Foley      1
25                     AL       Fultondale      1
26                     AL          Gadsden      1
27                     AL       Gardendale      1
28                     AL      Gulf Shores      1
29                     AL         Homewood      1
30                     AL           Hoover      5
31                     AL       Huntsville      7
32                     AL          Madison      3
33                     AL           Mobile     10
34                     AL       Montgomery      6
35                     AL   Mountain Brook      1
36                     AL          Opelika      3
37                     AL     Orange Beach      1
38                     AL           Oxford      2
39                     AL       Prattville      2
40                     AL     Spanish Fort      1
41                     AL       Trussville      1
42                     AL       Tuscaloosa      4
43                     AL   Vestavia Hills      2
44                     AR      Arkadelphia      1
45                     AR           Benton      2
46                     AR      Bentonville      3
47                     AR           Bryant      1
48                     AR           Conway      4
49                     AR     Fayetteville      4

In [36]:
# Combine Latitude and Longitude Dataframes
combined_geo_df = pd.merge(lon_df, lat_df)
combined_geo_df

     CountrySubdivisionCode             City   Longitude   Latitude
0                        AK        Anchorage -149.856250  61.178333
1                        AK      Eagle River -149.563333  61.333333
2                        AK        Fairbanks -147.778000  64.840000
3                        AK  Fort Richardson -149.680000  61.260000
4                        AK  Fort Wainwright -147.650000  64.830000
...                     ...              ...         ...        ...
3756                     WY     Jackson Hole -110.750000  43.480000
3757                     WY           Lander -108.750000  42.840000
3758                     WY          Laramie -105.570000  41.313333
3759                     WY     Rock Springs -109.250000  41.580000
3760                     WY        Sheridian -106.940000  44.770000

[3761 rows x 4 columns]

In [37]:
# Combine Lat/Lon dataframe with Store Count dataframe
combined_location_df = pd.merge(count_df,combined_geo_df)
combined_location_df

     CountrySubdivisionCode             City  Count   Longitude   Latitude
0                        AK        Anchorage     24 -149.856250  61.178333
1                        AK      Eagle River      3 -149.563333  61.333333
2                        AK        Fairbanks      5 -147.778000  64.840000
3                        AK  Fort Richardson      1 -149.680000  61.260000
4                        AK  Fort Wainwright      1 -147.650000  64.830000
...                     ...              ...    ...         ...        ...
3756                     WY     Jackson Hole      1 -110.750000  43.480000
3757                     WY           Lander      1 -108.750000  42.840000
3758                     WY          Laramie      3 -105.570000  41.313333
3759                     WY     Rock Springs      1 -109.250000  41.580000
3760                     WY        Sheridian      1 -106.940000  44.770000

[3761 rows x 5 columns]

In [8]:
# Read in city income information file

pathfile02 = Path('Data_Files/kaggle_income.csv')
income_df = pd.read_csv(pathfile02, encoding='cp1252')
income_df

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,589417,1691,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,1801613,795887,18.385424,-67.203310,15520,9923,15541,238.813450
32523,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,11031227,0,18.356565,-67.180686,41933,34054,31539,313.551070
32524,7202986,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,0,33597561,18.412041,-67.213413,0,0,0,0.000000
32525,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,6476604,2717115,18.478094,-67.160453,28049,20229,33333,512.884803

In [9]:
# Drop unnecessary columns
income_drop_df = income_df.drop(['id', 'State_Code','County','Place','Type','Primary','Zip_Code','Area_Code','ALand','AWater','Median','Stdev','sum_w'], axis=1)
income_drop_df

        State_Name State_ab            City        Lat        Lon   Mean
0          Alabama       AL       Chickasaw  30.771450 -88.079697  38773
1          Alabama       AL      Louisville  31.708516 -85.611039  37725
2          Alabama       AL      Columbiana  33.191452 -86.615618  54606
3          Alabama       AL         Satsuma  30.874343 -88.009442  63919
4          Alabama       AL  Dauphin Island  30.250913 -88.171268  77948
...            ...      ...             ...        ...        ...    ...
32521  Puerto Rico       PR        Guaynabo  18.397925 -66.130633  30649
32522  Puerto Rico       PR          Aguada  18.385424 -67.203310  15520
32523  Puerto Rico       PR          Aguada  18.356565 -67.180686  41933
32524  Puerto Rico       PR          Aguada  18.412041 -67.213413      0
32525  Puerto Rico       PR       Aguadilla  18.478094 -67.160453  28049

[32526 rows x 6 columns]

In [10]:
#Drop More columns

income_drop_df = income_drop_df.drop(['State_Name','Lat','Lon'], axis=1)
income_drop_df

      State_ab            City   Mean
0           AL       Chickasaw  38773
1           AL      Louisville  37725
2           AL      Columbiana  54606
3           AL         Satsuma  63919
4           AL  Dauphin Island  77948
...        ...             ...    ...
32521       PR        Guaynabo  30649
32522       PR          Aguada  15520
32523       PR          Aguada  41933
32524       PR          Aguada      0
32525       PR       Aguadilla  28049

[32526 rows x 3 columns]

In [11]:
# Sort Dataframe by City & State

income_drop_df.sort_values(by = ['State_ab', 'City'])
income_drop_df

      State_ab            City   Mean
0           AL       Chickasaw  38773
1           AL      Louisville  37725
2           AL      Columbiana  54606
3           AL         Satsuma  63919
4           AL  Dauphin Island  77948
...        ...             ...    ...
32521       PR        Guaynabo  30649
32522       PR          Aguada  15520
32523       PR          Aguada  41933
32524       PR          Aguada      0
32525       PR       Aguadilla  28049

[32526 rows x 3 columns]

In [12]:
# Groupby City/State to get the average income for the city

income_avg_df = income_drop_df.groupby(['State_ab', 'City'])['Mean'].mean().reset_index()

In [23]:
# Round average income to 2 decimals

income_avg_df.round({'Mean': 2})
income_avg_df.head(50)

   CountrySubdivisionCode             City           Mean
0                      AK         Alakanuk   40008.000000
1                      AK        Allakaket   33847.000000
2                      AK        Anchorage   89349.200000
3                      AK         Anderson   93374.000000
4                      AK           Barrow   94285.000000
5                      AK           Bethel   90822.000000
6                      AK         Buckland   63175.000000
7                      AK           Chevak   51011.000000
8                      AK      Chuathbaluk   48313.000000
9                      AK          Chugiak  133300.000000
10                     AK    Copper Center   53706.500000
11                     AK   Delta Junction  242857.000000
12                     AK       Dillingham   86325.500000
13                     AK      Eagle River  105052.000000
14                     AK           Egegik   62733.000000
15                     AK      Eielson Afb   68267.000000
16                     AK        Fairbanks   79965.250000
17                     AK       False Pass   71796.000000
18                     AK      Fritz Creek   82980.000000
19                     AK         Girdwood   94928.000000
20                     AK       Glennallen       0.000000
21                     AK           Haines  101864.000000
22                     AK            Healy   95667.000000
23                     AK            Homer   76885.000000
24                     AK           Hoonah   66296.000000
25                     AK           Hughes   47031.000000
26                     AK           Huslia   40950.000000
27                     AK           Juneau   86724.000000
28                     AK         Kaktovik   62545.000000
29                     AK            Kenai   66103.000000
30                     AK        Ketchikan   57572.666667
31                     AK            Kiana   58026.333333
32                     AK           Kodiak   74363.000000
33                     AK         Kwethluk   55482.000000
34                     AK       Larsen Bay   84545.000000
35                     AK         Mekoryuk   43471.000000
36                     AK       Metlakatla   69964.000000
37                     AK       Moose Pass   89805.000000
38                     AK       Nikolaevsk   56071.000000
39                     AK           Noatak   65682.000000
40                     AK             Nome   96042.000000
41                     AK       North Pole   98668.000000
42                     AK           Palmer   92824.000000
43                     AK       Petersburg   78533.500000
44                     AK  Port Protection   39794.000000
45                     AK     Saint Mary's   49429.000000
46                     AK          Selawik   55786.000000
47                     AK    Sheldon Point   58004.000000
48                     AK            Sitka   80041.000000
49                     AK          Skagway   81352.000000

In [14]:
# Rename State column to match the combined Starbucks dataframe for merging

income_avg_df.rename(columns = {'State_ab':'CountrySubdivisionCode'}, inplace = True)

In [24]:
income_avg_df.head(50)

   CountrySubdivisionCode             City           Mean
0                      AK         Alakanuk   40008.000000
1                      AK        Allakaket   33847.000000
2                      AK        Anchorage   89349.200000
3                      AK         Anderson   93374.000000
4                      AK           Barrow   94285.000000
5                      AK           Bethel   90822.000000
6                      AK         Buckland   63175.000000
7                      AK           Chevak   51011.000000
8                      AK      Chuathbaluk   48313.000000
9                      AK          Chugiak  133300.000000
10                     AK    Copper Center   53706.500000
11                     AK   Delta Junction  242857.000000
12                     AK       Dillingham   86325.500000
13                     AK      Eagle River  105052.000000
14                     AK           Egegik   62733.000000
15                     AK      Eielson Afb   68267.000000
16                     AK        Fairbanks   79965.250000
17                     AK       False Pass   71796.000000
18                     AK      Fritz Creek   82980.000000
19                     AK         Girdwood   94928.000000
20                     AK       Glennallen       0.000000
21                     AK           Haines  101864.000000
22                     AK            Healy   95667.000000
23                     AK            Homer   76885.000000
24                     AK           Hoonah   66296.000000
25                     AK           Hughes   47031.000000
26                     AK           Huslia   40950.000000
27                     AK           Juneau   86724.000000
28                     AK         Kaktovik   62545.000000
29                     AK            Kenai   66103.000000
30                     AK        Ketchikan   57572.666667
31                     AK            Kiana   58026.333333
32                     AK           Kodiak   74363.000000
33                     AK         Kwethluk   55482.000000
34                     AK       Larsen Bay   84545.000000
35                     AK         Mekoryuk   43471.000000
36                     AK       Metlakatla   69964.000000
37                     AK       Moose Pass   89805.000000
38                     AK       Nikolaevsk   56071.000000
39                     AK           Noatak   65682.000000
40                     AK             Nome   96042.000000
41                     AK       North Pole   98668.000000
42                     AK           Palmer   92824.000000
43                     AK       Petersburg   78533.500000
44                     AK  Port Protection   39794.000000
45                     AK     Saint Mary's   49429.000000
46                     AK          Selawik   55786.000000
47                     AK    Sheldon Point   58004.000000
48                     AK            Sitka   80041.000000
49                     AK          Skagway   81352.000000

In [38]:
# Merge the income and starbucks location dataframes

joined_df = pd.merge(combined_location_df, income_avg_df)

In [39]:
# Verify Columns post-merge

joined_df.columns

Index(['CountrySubdivisionCode', 'City', 'Count', 'Longitude', 'Latitude',
       'Mean'],
      dtype='object')

In [41]:
joined_df.head(50)

,CountrySubdivisionCode,City,Count,Longitude,Latitude,Mean
0,AK,Anchorage,24,-149.856250,61.178333,89349.200000
1,AK,Eagle River,3,-149.563333,61.333333,105052.000000
2,AK,Fairbanks,5,-147.778000,64.840000,79965.250000
3,AK,Homer,1,-151.540000,59.640000,76885.000000
4,AK,Juneau,2,-134.555000,58.360000,86724.000000
5,AK,Ketchikan,1,-131.670000,55.350000,57572.666667
6,AK,Kodiak,1,-152.370000,57.810000,74363.000000
7,AK,North Pole,1,-147.350000,64.760000,98668.000000
8,AK,Palmer,2,-149.125000,61.600000,92824.000000
9,AK,Wasilla,4,-149.417500,61.580000,86586.600000
10,AL,Alabaster,3,-86.813333,33.220000,81118.333333
11,AL,Athens,1,-86.950000,34.780000,62876.750000
12,AL,Auburn,3,-85.476667,32.606667,52311.800000
13,AL,Bessemer,1,-86.930000,33.330000,52322.571429
14,AL,Birmingham,16,-86.767500,33.488125,48808.166667
15,AL,Cullman,1,-86.840000,34.150000,52953.500000
16,AL,Daphne,1,-87.910000,30.650000,107603.000000
17,AL,Decatur,2,-86.980000,34.575000,50687.500000
18,AL,Dothan,1,-85.450000,31.270000,55614.833333
19,AL,Florence,2,-87.660000,34.820000,52072.571429
20,AL,Foley,1,-87.680000,30.380000,60328.500000
21,AL,Gadsden,1,-86.080000,33.990000,39036.000000
22,AL,Gardendale,1,-86.820000,33.650000,57898.500000
23,AL,Gulf Shores,1,-87.680000,30.300000,65583.000000
24,AL,Homewood,1,-86.770000,33.470000,83769.500000
25,AL,Hoover,5,-86.800000,33.388000,104628.166667
26,AL,Huntsville,7,-86.611429,34.727143,63580.222222
27,AL,Madison,3,-86.750000,34.736667,97847.800000
28,AL,Mobile,10,-88.153000,30.677000,51464.966667
29,AL,Montgomery,6,-86.195000,32.358333,56275.047619
30,AL,Mountain Brook,1,-86.770000,33.480000,141936.000000
31,AL,Opelika,3,-85.393333,32.626667,54626.000000
32,AL,Orange Beach,1,-87.590000,30.270000,86000.000000
33,AL,Oxford,2,-85.805000,33.610000,64656.000000
34,AL,Prattville,2,-86.410000,32.465000,55433.333333
35,AL,Trussville,1,-86.650000,33.600000,75283.000000
36,AL,Tuscaloosa,4,-87.535000,33.205000,61115.888889
37,AL,Vestavia Hills,2,-86.765000,33.455000,87115.000000
38,AR,Arkadelphia,1,-93.060000,34.130000,15984.000000
39,AR,Benton,2,-92.575000,34.610000,57830.500000
40,AR,Bentonville,3,-94.220000,36.353333,88334.333333
41,AR,Bryant,1,-92.530000,34.600000,68876.333333
42,AR,Conway,4,-92.425000,35.090000,66072.000000
43,AR,Fayetteville,4,-94.182500,36.082500,45973.400000
44,AR,Fort Smith,1,-94.360000,35.360000,43954.600000
45,AR,Hot Springs,1,-93.060000,34.460000,51672.888889
46,AR,Jacksonville,1,-92.110000,34.890000,56503.000000
47,AR,Jonesboro,4,-90.682500,35.825000,41214.500000
48,AR,Little Rock,16,-92.348750,34.749375,62356.045455
49,AR,Maumelle,1,-92.400000,34.850000,61304.000000

In [45]:
# Rename Columns to more accurately reflect contents

joined_df.rename(columns = {'CountrySubdivisionCode':'State'}, inplace = True)
joined_df.rename(columns = {'Count':'Store Count'}, inplace = True)
joined_df.rename(columns = {'Mean':'Avg. Income'}, inplace = True)
joined_df

     State          City  Store Count   Longitude   Latitude  Avg. Income
0       AK     Anchorage           24 -149.856250  61.178333     89349.20
1       AK   Eagle River            3 -149.563333  61.333333    105052.00
2       AK     Fairbanks            5 -147.778000  64.840000     79965.25
3       AK         Homer            1 -151.540000  59.640000     76885.00
4       AK        Juneau            2 -134.555000  58.360000     86724.00
...    ...           ...          ...         ...        ...          ...
2912    WY      Gillette            2 -105.490000  44.275000     92205.00
2913    WY       Jackson            2 -110.775000  43.475000     90904.50
2914    WY        Lander            1 -108.750000  42.840000     31047.00
2915    WY       Laramie            3 -105.570000  41.313333     54636.40
2916    WY  Rock Springs            1 -109.250000  41.580000     89243.00

[2917 rows x 6 columns]